.TransactionForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: 25px;
  }
  
  .TransactionForm-date {
    min-width: 250px;
    margin: 15px;
    height: 25px;
  }
  
  .TransactionForm-text {
    min-width: 250px;
    margin: 15px;
    height: 25px;
  }
  
  .TransactionForm-amount {
    min-width: 250px;
    margin: 15px;
    height: 25px;
  }
  
  .TransactionForm-category {
    min-width: 258px;
    margin: 15px;
    height: 25px;
  }
  
  .TransactionForm-button {
    min-width: 258px;
    margin: 15px;
    height: 25px;
  }
  